body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p.message {
  color: red;
  font-style: italic;
}

td {
  border: solid 1px #000000;
  padding: 5px;
  border-radius: 3px;
  width: 10px;
  height: 10px;
  text-align: center;
}

div.multiplication-table {
  padding: 10px;
  width: 100%;
}


div.col-fixer {
  overflow-x: scroll;
  overflow-y: visible;
  padding-bottom: 5px;
  width: 100%;
  height: 300px;
}

table.td {
  white-space: nowrap;
}

tr.row-0 {
  
}

td.col-0 {
  /*left: 0;*/
  /*position: absolute;*/
  /*top: auto;*/

  /*width: 26px;*/
  /*height: 17px;*/
  /*margin-left: 32px;*/
}
